<head th:fragment="head(titulo)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A PicGen projects">
    <meta name="author" content="Gustavo Boaz">
    <meta name="theme-color" content="#F9f0ed">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#E2E2E2">

    <!-- <link rel="manifest" href="/manifest/manifest.json"> -->
    <!-- <link rel="manifest" href="/manifest/manifest.webmanifest"> -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/assets/favicon_io/favicon-16x16.png">
    <!-- <link rel="manifest" href="/site.webmanifest"> -->

    <!-- Font icons -->
    <script src="https://kit.fontawesome.com/9bcfc67907.js" crossorigin="anonymous"></script>

    <!-- Library CSS -->
    <link rel="stylesheet" href="/css/framework_index.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Title-->
    <title th:text="${titulo}"></title>
</head>

<footer th:fragment="footer()">
    <!-- Library JS -->
    <script type = "module" src="/js/index.js"></script>  
    <script type = "module" src="/js/services/register.js"></script>  
    <script type = "module" src="/js/services/search.js"></script>
    <script type = "module" src="/js/services/login.js"></script>
    <script type = "module" src="/js/services/profile.js"></script>
    <script type = "module" src="/js/configurations/enviroment.js"></script>  
</footer>