<main th:fragment="main()">
    <div id="container_navbar">
        <div>
            <img class="small-img" src="/img/assets/Logo.png" alt="logo">
            <img class="medium-img" src="/img/assets/PicGen-1-sf.png" alt="logo">   
        </div>
        <div>
            <a class="btn-is bwc tooltip-bot">
                <span class="bpc">
                    <h6 class="font-light-200 twc">New</h6>
                </span>
                <i class="fas fa-plus tpo medium"></i>
            </a>
            <a id="buttonInstall" class="btn-is bwc tooltip-bot">
                <span class="bpc">
                    <h6 class="font-light-200 twc">Install</h6>
                </span>
                <i class="fas fa-mobile tpo medium"></i>
            </a>
            <a class="btn-is bwc tooltip-bot">
                <span class="bpc">
                    <h6 class="font-light-200 twc">Exit</h6>
                </span>
                <i class="fas fa-door-open tbc small"></i>
            </a>
        </div>
    </div>

    <div id="container_orders" class="scrollbar">

    </div>
</main>